<div class="row" >
	<div class="col-md-6">
		<kt-portlet class=" kt-portlet--space kt-portlet--height-fluid">
			<kt-portlet-header [title]="'Product Sales	<small>total sales</small>'"></kt-portlet-header>
			<kt-portlet-body [class]="'kt-portlet__body--fit'">
				<div class="kt-widget25">
					<span class="kt-widget25__stats m-font-brand">रु 237,650</span>
					<span class="kt-widget25__subtitle">Total Revenue This Month</span>
					<div class="kt-widget25__items">
						<div class="kt-widget25__item">
							<span class="kt-widget25__number">
								63%
							</span>
							<div class="progress kt-progress--sm">
								<div class="progress-bar kt-bg-danger" role="progressbar" style="width: 63%;"
									aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
							</div>
							<span class="kt-widget25__desc">
								SaaS Growth
							</span>
						</div>
						<div class="kt-widget25__item">
							<span class="kt-widget25__number">
								39%
							</span>
							<div class="progress m-progress--sm">
								<div class="progress-bar kt-bg-success" role="progressbar" style="width: 39%;"
									aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
							</div>
							<span class="kt-widget25__desc">
								On-premise Growth
							</span>
						</div>
						<div class="kt-widget25__item">
							<span class="kt-widget25__number">
								54%
							</span>
							<div class="progress m-progress--sm">
								<div class="progress-bar kt-bg-warning" role="progressbar" style="width: 54%;"
									aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
							</div>
							<span class="kt-widget25__desc">
								Jobharu Portal Growth
							</span>
						</div>
					</div>
				</div>
			</kt-portlet-body>
		</kt-portlet>
	</div>
	<div class="col-md-6">
		<div class="kt-portlet">
			<div class="kt-portlet__body  kt-portlet__body--fit">
				<div class="row row-no-padding row-col-separator-xl">
					<div class="col-md-6" style="border-bottom: 1px solid rgb(238, 234, 240)">
						<!--begin::Total Profit-->
						<div class="kt-widget24">
							<div class="kt-widget24__details">
								<div class="kt-widget24__info">
									<h4 class="kt-widget24__title">
										Registered Companies
									</h4>
									<span class="kt-widget24__desc">
										All companies
									</span>
								</div>

								<span class="kt-widget24__stats kt-font-brand">
									7M
								</span>
							</div>

							<div class="progress progress--sm">
								<div class="progress-bar kt-bg-brand" role="progressbar" style="width: 78%;"
									aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
							</div>

							<div class="kt-widget24__action">
								<span class="kt-widget24__change">
									Change
								</span>
								<span class="kt-widget24__number">
									78%
								</span>
							</div>
						</div>
						<!--end::Total Profit-->
					</div>

					<div class="col-md-6" style="border-bottom: 1px solid rgb(238, 234, 240)">
						<!--begin::New Feedbacks-->
						<div class="kt-widget24">
							<div class="kt-widget24__details">
								<div class="kt-widget24__info">
									<h4 class="kt-widget24__title">
										Registered Job Seekers
									</h4>
									<span class="kt-widget24__desc">
										All Job Seekers
									</span>
								</div>

								<span class="kt-widget24__stats kt-font-warning">
									12M
								</span>
							</div>

							<div class="progress progress--sm">
								<div class="progress-bar kt-bg-warning" role="progressbar" style="width: 84%;"
									aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
							</div>

							<div class="kt-widget24__action">
								<span class="kt-widget24__change">
									Change
								</span>
								<span class="kt-widget24__number">
									84%
								</span>
							</div>
						</div>
						<!--end::New Feedbacks-->
					</div>

					<div class="col-md-6">
						<!--begin::New Orders-->
						<div class="kt-widget24">
							<div class="kt-widget24__details">
								<div class="kt-widget24__info">
									<h4 class="kt-widget24__title">
										Active Companies
									</h4>
									<span class="kt-widget24__desc">
										All Active Companies
									</span>
								</div>
								<span class="kt-widget24__stats kt-font-danger">
									567
								</span>
							</div>

							<div class="progress progress--sm">
								<div class="progress-bar kt-bg-danger" role="progressbar" style="width: 69%;"
									aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
							</div>

							<div class="kt-widget24__action">
								<span class="kt-widget24__change">
									Change
								</span>
								<span class="kt-widget24__number">
									69%
								</span>
							</div>
						</div>
						<!--end::New Orders-->
					</div>

					<div class="col-md-6">
						<!--begin::New Users-->
						<div class="kt-widget24">
							<div class="kt-widget24__details">
								<div class="kt-widget24__info">
									<h4 class="kt-widget24__title">
										Active Job Seekers
									</h4>
									<span class="kt-widget24__desc">
										All Active Job Seekers
									</span>
								</div>

								<span class="kt-widget24__stats kt-font-success">
									276
								</span>
							</div>

							<div class="progress progress--sm">
								<div class="progress-bar kt-bg-success" role="progressbar" style="width: 90%;"
									aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
							</div>

							<div class="kt-widget24__action">
								<span class="kt-widget24__change">
									Change
								</span>
								<span class="kt-widget24__number">
									90%
								</span>
							</div>
						</div>
						<!--end::New Users-->
					</div>

				</div>
			</div>
		</div>
	</div>
	<div class="col-md-6">
			<kt-portlet class=" kt-portlet--space kt-portlet--height-fluid">
				<kt-portlet-header [title]="'Jobharu Portal	<small>reach impact</small>'"></kt-portlet-header>
				<kt-portlet-body [class]="'kt-portlet__body--fit'">
					<canvas #chart id="kt_chart_order_statistics" width="683" height="312"></canvas>
				</kt-portlet-body>
			</kt-portlet>
		</div>
	<div class="col-md-6">
			<kt-portlet class=" kt-portlet--space kt-portlet--height-fluid">
				<kt-portlet-header [title]="'Support Tickets'"></kt-portlet-header>
				<kt-portlet-body [class]="'kt-portlet__body--fit'">
						<div class="kt-widget3">
								<div class="kt-widget3__item">
									<div class="kt-widget3__header">
										<div class="kt-widget3__user-img">							 
											<img class="kt-widget3__img" src="./assets/media/users/default.jpg" alt="">  
										</div>
										<div class="kt-widget3__info">
											<a href="#" class="kt-widget3__username">
											Ezinesoft Pvt. Ltd.
											</a><br> 
											<span class="kt-widget3__time">
											2 day ago
											</span>		 
										</div>
										<span class="kt-widget3__status kt-font-info">
										Pending
										</span>	
									</div>
									<div class="kt-widget3__body">
										<p class="kt-widget3__text"> 
											Login system seems to be stop working after successfully logged in. Please help me.
										</p>
									</div>
								</div>
								<div class="kt-widget3__item">
									<div class="kt-widget3__header">
										<div class="kt-widget3__user-img">							 
											<img class="kt-widget3__img" src="./assets/media/users/default.jpg" alt="">  
										</div>
										<div class="kt-widget3__info">
											<a href="#" class="kt-widget3__username">
											HERD International
											</a><br> 
											<span class="kt-widget3__time">
											1 day ago
											</span>		 
										</div>
										<span class="kt-widget3__status kt-font-brand">
										Open
										</span>	
									</div>
									<div class="kt-widget3__body">
										<p class="kt-widget3__text"> 
											I've purchase On-premise service but I am unable to use it. We need a technical assistant ASAP.
										</p>
									</div>
								</div>
								<div class="kt-widget3__item">
									<div class="kt-widget3__header">
										<div class="kt-widget3__user-img">							 
											<img class="kt-widget3__img" src="./assets/media/users/default.jpg" alt="">    
										</div>
										<div class="kt-widget3__info">
											<a href="#" class="kt-widget3__username">
											Softech Inc
											</a><br> 
											<span class="kt-widget3__time">
											3 weeks ago
											</span>		 
										</div>
										<span class="kt-widget3__status kt-font-success">
										Closed
										</span>	
									</div>
									<div class="kt-widget3__body">
										<p class="kt-widget3__text"> 
											We are having a trouble of posting jobs. When we click to post, the dialog closes automatically and we can see success notifications but our post not yet published. 
										</p>
									</div>
								</div>
							</div>
				</kt-portlet-body>
			</kt-portlet>
		</div>
</div>