mat-row.detail-row {
    height: 0 !important;
}

.cell-max-width {
    max-width: 45px;
}

.cell-max-width-100 {
    max-width: 100px;
}

.cell-max-width-120 {
    max-width: 140px;
}

.cell-max-width-55 {
    max-width: 55px;
}

.selected {
    background: #eef0fc;
}

.dropdown-dropdown-inline {
    margin-right: 20px;
}