/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~material-design-icons/iconfont/material-icons.css";
@import "~highlight.js/styles/googlecode.css";

// header base skins
.kt-header-base-light {
	@import "sass/global/layout/header/skins/base/light.scss";
}
.kt-header-base-dark {
	@import "sass/global/layout/header/skins/base/dark.scss";
}

// header menu skins
.kt-header-menu-light {
	@import "sass/global/layout/header/skins/menu/light.scss";
}
.kt-header-menu-dark {
	@import "sass/global/layout/header/skins/menu/dark.scss";
}

// brand skins
.kt-brand-dark {
	@import "sass/global/layout/brand/skins/dark.scss";
}
.kt-brand-light {
	@import "sass/global/layout/brand/skins/light.scss";
}

// aside skins
.kt-aside-dark {
	@import "sass/global/layout/aside/skins/dark.scss";
}
.kt-aside-light {
	@import "sass/global/layout/aside/skins/light.scss";
}

// hide bootstrap dropdown arrow globally
.dropdown-toggle::after {
	display: none !important;
}

.mat-table__wrapper--dashboard .mat-table {
	min-width: 600px !important;
	width: 100% !important;
}

.position-static {
	position: static;
}

.btn:disabled{
	cursor: none;
	pointer-events: none;
}

/* global rules for shared element */

.ng-component, ng-component{  display:block !important; }

// mat-table rules
.table-container {
	display: block;
    position: relative;
    min-height: 50vh;
    overflow: auto;
    z-index: 1;
}
.loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

mat-row:not(.expanded-detail):hover{
	background: rgb(248, 248, 248);
}

.mat-column-select {
	overflow: initial;
}

.mat-header-cell{
    border-top: 1px solid rgb(236, 236, 236) !important;
}
.mat-header-cell:first-child,
.mat-cell:first-child{
    border-left: 1px solid rgb(236, 236, 236) !important;
}
.mat-header-cell,
.mat-cell{
    border-right: 1px solid rgb(236, 236, 236) !important;
    padding: 0 6px !important;
}

// mat-card rules

.mat-elevation-z7-custom{
	transition:  box-shadow .3s ease-in;
	word-wrap:break-word;
}

.mat-elevation-z7-custom:hover{
	box-shadow: 0 4px 5px -2px rgba(0,0,0,.2), 0 7px 10px 1px rgba(0,0,0,.14), 0 2px 16px 1px rgba(0,0,0,.12)
}


// mat-form-field

.mat-form-field{
	width: 100%;
}

#contact-phone-wrap{
	padding-top: 15px;
	margin-bottom: 20px;
}
#contact-phone-wrap .mat-form-field-outline-start, #contact-phone-wrap .mat-form-field-outline-end{
	border-radius: 0 !important;
}

// snack bar
.custom-snackbar{
	background: transparent;
	box-shadow: none;
}

// remove border radius when this selector applied to the parent element
.mat-form-field__box .mat-form-field-outline-start,
.mat-form-field__box .mat-form-field-outline-end{
	border-radius: 0 !important;
}

// make cdk-drag-handle cursor as move
.cdk-drag-handle{
	cursor: move;
}

/* Animate items as they're being sorted. */
.cdk-drop-list-dragging .cdk-drag {
	transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drop-list-dragging .list-items:not(.cdk-drag-placeholder) {
	transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

/* Animate an item that has been dropped. */
.cdk-drag-animating {
	 transition: transform 300ms cubic-bezier(0, 0, 0.2, 1);
}

.list-drop-placeholder{
	background: rgba(255, 184, 34, 0.1);
	border: dotted 3px #999;
	min-height: 60px;
	transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}