<form class="kt-portlet mb-0 shadow-none" [formGroup]="licenseForm" (ngSubmit)="saveChanges()" autocomplete="off">
    <div matDialogTitle class="kt-portlet__head px-0 pt-0">
        <div class="kt-portlet__head-label">
            <h1 class="kt-portlet__head-title">
                Choose a date
            </h1>
        </div>

        <div class="kt-portlet__head-toolbar">
            <div class="kt-portlet__head-group">
                <button type="button" (click)="cancel()" class="btn btn-sm btn-icon btn-clean btn-icon-md"><i
                        class="la la-close"></i></button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="row">
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>Trial expire date</mat-label>
                    <input formControlName="trialExpireDate" (click)="d.open()" (focus)="d.open()" [matDatepicker]="d"
                        matInput placeholder="Choose date">
                    <mat-datepicker #d></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>License expire date</mat-label>
                    <input formControlName="licenseExpireDate" (click)="date.open()" (focus)="date.open()"
                        [matDatepicker]="date" matInput placeholder="Choose date">
                    <mat-datepicker #date></mat-datepicker>
                </mat-form-field>
            </div>
        </div>

    </div>

    <div matDialogActions>
        <div class="mat-dialog-action">
            <div>
                <button [disabled]="isWorking" type="submit" class="btn btn-label-primary btn-icon btn-circle mx-1"
                    matTooltip="Save Changes" matTooltipPosition="above">
                    <i *ngIf="!isWorking; else working" class="la la-check"></i>
                    <ng-template #working>
                        <mat-spinner color="warn" strokeWidth="2" diameter="24"></mat-spinner>
                    </ng-template>
                </button>
                <button (click)="cancel()" type="button" class="btn btn-label-warning btn-icon btn-circle mx-1"
                    matTooltip="Cancel" matTooltipPosition="above"> <i class="la la-close"></i></button>
            </div>
        </div>
    </div>

</form>